@import url(http://fonts.googleapis.com/css?family=Oswald);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border: 3px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f7;
  box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul {
  background: url('images/bg.png');
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/* THIS IS FROM NAVSTYLE.CSS*/
#cssmenu > ul > li:hover > a {
  display:block;
  color: #ffffff;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}


/* THIS IS THE END*/
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  background: url('images/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #fd8a17;
  border-bottom: 2px solid #fd8a17;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #fd8a17;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}

/*MORE FROM OTHER PAGE*/
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
  border-top: 3px solid #fd8a17;

}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 4px;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
/* THIS IS THE DROP DOWN MENU*/
#cssmenu ul ul li a {
  /*border-bottom: 1px solid rgba(150, 150, 150, 0.15); */
  border: 3px solid #fd8a17;
  padding: 15px 20px;
  width: 120px;
  font-size: 12px;
  text-decoration: none;
  color: #000000;
  font-weight: 200;
  background: #f7f7f7; 
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #000000;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
        }

        #cssmenu.align-center > ul {
            text-align: left;
        }

        #cssmenu ul li {
            width: 100%;
            border-top: 1px solid rgba(120, 120, 120, 0.2);
        }

        #cssmenu ul ul li,
        #cssmenu li:hover > ul > li {
            height: auto;
        }

            #cssmenu ul li a,
            #cssmenu ul ul li a {
                width: 100%;
                border-bottom: 0;
            }

        #cssmenu > ul > li {
            float: none;
        }

        #cssmenu ul ul li a {
            padding-left: 25px;
        }

        #cssmenu ul ul ul li a {
            padding-left: 35px;
        }

        #cssmenu ul ul li a {
            color: #dddddd;
            background: none;
        }

        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li.active > a {
            color: #ffffff;
        }

        #cssmenu ul ul,
        #cssmenu ul ul ul,
        #cssmenu.align-right ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
        }

            #cssmenu > ul > li.has-sub > a:after,
            #cssmenu > ul > li.has-sub > a:before,
            #cssmenu ul ul > li.has-sub > a:after,
            #cssmenu ul ul > li.has-sub > a:before {
                display: none;
            }

        #cssmenu #menu-button {
            display: block;
            padding: 17px;
            color: #dddddd;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }

            #cssmenu #menu-button:after {
                position: absolute;
                top: 22px;
                right: 17px;
                display: block;
                height: 4px;
                width: 20px;
                border-top: 2px solid #dddddd;
                border-bottom: 2px solid #dddddd;
                content: '';
            }

            #cssmenu #menu-button:before {
                position: absolute;
                top: 16px;
                right: 17px;
                display: block;
                height: 2px;
                width: 20px;
                background: #dddddd;
                content: '';
            }

        /* PLUS SIGN
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  } */
        #cssmenu .submenu-button {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid rgba(120, 120, 120, 0.2);
            height: 46px;
            width: 46px;
            cursor: pointer;
        }

            #cssmenu .submenu-button.submenu-opened {
                background: #262626;
            }

        #cssmenu ul ul .submenu-button {
            height: 34px;
            width: 34px;
        }

        #cssmenu .submenu-button:after {
            position: absolute;
            top: 22px;
            right: 19px;
            width: 8px;
            height: 2px;
            display: block;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:after {
            top: 15px;
            right: 13px;
        }

        #cssmenu .submenu-button.submenu-opened:after {
            background: #ffffff;
        }

        #cssmenu .submenu-button:before {
            position: absolute;
            top: 19px;
            right: 22px;
            display: block;
            width: 2px;
            height: 8px;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:before {
            top: 12px;
            right: 16px;
        }

        #cssmenu .submenu-button.submenu-opened:before {
            display: none;
        }
}


